﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    rescimento profissional e pessoal na área de ciência e tecnologia, da qual sou apaixonado, quero fazer o que gosto para considerar o trabalho um prazer e não uma obrigação.

    Resumo de atividades desenvolvidas atualmente:
    Desenvolver novos produtos e manutenção nos existentes, modernização de processos e produtos já existentes (migração de algumas funcionalidades de VB6 > C#), efetuar revisão por pares e programação peer to peer junto a time de desenvolvimento para verificações e melhorias nos códigos implementados (em itens críticos). Auxilio e apoio aos estagiários e outros setores da empresa em relação aos produtos desenvolvidos
    Quando necessário apoio ao cliente diretamente com atendimento e conexão remota para exemplificação e demonstração de novas funcionalidades desenvolvidas (no caso de Desenvolvimentos específicos para determinados clientes)
</p>
