﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<address>
    Rua dos Guajajras 329,804 B - Centro<br />
    Belo Horizonte/MG  30180-100<br />
    <abbr title="Telefone"></abbr>
    (31) 99321-8388
</address>
<address>
    <strong>E-Mail:</strong> <a href="mailto:diogoduartecampos@gmail.com">diogoduartecampos@gmail.com</a><br />
</address>
