﻿@model List<PersonagemModel>;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_SearchLayout";

}


@if (@Model != null)
{
    <div class="panel-group mt-2" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var @Personagem in @Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne@{@Personagem.id;}">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne@{@Personagem.id;}" aria-expanded="false" aria-controls="collapseOne@{@Personagem.id;}">
                            <h4 class="list-group-item-heading">
                                #@Personagem.id  @Personagem.name
                            </h4>
                            <div class="list-group-item-text flex-container">
                                <div>
                                    <img src="@Personagem.thumbnail.path.@Personagem.thumbnail.extension" height="100" width="100" />
                                </div>
                                <div class="p-2">@Personagem.description</div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne@{@Personagem.id;}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne@{@Personagem.id;}">
                    <div class="panel-body">
                        <ul class="list-group">
                            @foreach (var @itens in @Personagem.stories.items)
                            {
                            <li class="list-group-item">@itens.name</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

    </div>
}