﻿@{ 
    Layout = "_Layout";
}
<div class="container body-content">
   <style>
       .mt-2 {
         margin-top:2rem;
       }
   </style>
    <div class="container mt-2">
        <form class="col-md-9" asp-controller="Home" asp-action="Search" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Pesquisar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Pesquisar!</button>
                </span>
            </div><!-- /input-group -->
        </form><!-- /.col-lg-6 -->
    </div>
    @RenderBody()

</div>
